@font-face {
    font-family: 'Taipei Sans TC Beta';
    src: url('../Font/TaipeiSansTCBeta-Bold.ttf');
}

.heart {
    -fx-background-image: url("../Img/Suit/Heart.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 14px;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-font-family: 'Taipei Sans TC Beta';
}

.diamond {
    -fx-background-image: url("../Img/Suit/Diamond.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 14px;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-font-family: 'Taipei Sans TC Beta';
}

.spade {
    -fx-background-image: url("../Img/Suit/Spade.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 14px;
    -fx-font-size: 20px;
    -fx-font-family: 'Taipei Sans TC Beta';
}

.club {
    -fx-background-image: url("../Img/Suit/Club.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 14px;
    -fx-font-size: 20px;
    -fx-font-family: 'Taipei Sans TC Beta';
}

.picked-card:hover {
    -fx-cursor: hand;
}
