.back-button {
    -fx-background-image: url("../Img/back.png");
    -fx-background-size: 36 36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.user-button {
    -fx-background-image: url("../Img/user-icon.png");
    -fx-background-size: 36 36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.setting-button {
    -fx-background-image: url("../Img/setting-icon.png");
    -fx-background-size: 36 36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.plus-button:hover {
    -fx-background-color: rgba(252, 51, 51, 0.2);
    -fx-cursor: hand;
}

.minus-button:hover {
    -fx-background-color: rgba(57, 54, 240, 0.2);
    -fx-cursor: hand;
}